{% extends "base.html" %}

{% block content %}
        
        <hr>
        {% for posting in gp %}
            <div class = "blog">
                <div class = "blog-title"><a href="blog/{{posting.key().id()}}">{{posting.title}}</a>
                <pre class="blog-body">{{posting.blog}}</pre>
            </div>
        {% endfor %}

        {% if page in prev_list %}
            <a href={{prev_url}}><p id = "line">&lt;prev</p></a>
        {% else %}
            <p id = "line" class = "white">&lt;prev</p>
        {% endif %}

        {% if page in nex_list %}
            <a href={{nex_url}}><p>next&gt;</p></a>
        {% else %}
            <p class = "white">next&gt;</p>
        {% endif %}

{% endblock %}
